* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(31, 41, 55);
  --surface-color: rgba(255, 255, 255, 0);
  --surface-color-hover: rgb(31, 41, 55);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --switch-color: rgb(255, 255, 255);
}

.light {
  --text-color: black;
  --text-strong-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(31, 41, 55, 0.203);
  --stroke-color-action: rgba(31, 41, 55, 0);
  --surface-color: rgba(0, 0, 0, 0);
  --surface-color-hover: rgba(31, 41, 55, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
  --switch-color: rgb(180, 180, 180);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 350px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 130px;
}

#profile p {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
}

#bio p {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 400;
  color: hsl(215 20.2% 65.1%);
}

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: var(--switch-color) var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 4px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 600;
  font-size: 18px;

  transition: background 0.1s;
}

ul li a:hover {
  background: var(--surface-color-hover);
}

ul li a strong {
  color: var(--text-strong-color);
}

ul li a strong-1 {
  color: black;
}

ul li #calltoaction a {
  background: linear-gradient(330deg, #6174f2, #df54fe);
  border: 1px solid var(--stroke-color-action);
}

ul li #calltoaction a:hover {
  background: linear-gradient(330deg, #2cddab, #965af4);
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries */
@media (min-width: 900px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
